{% extends "main.html" %}
{% block content %}

<div class="row top-menu ">
  <div class="col-md-6 app-link">
    <a href="{{url_for('showCategories')}}">
      Catalog App
	</a>
  </div>
  <div class="col-md-6 text-right">
    <a href="{{url_for('disconnect')}}">
      <button class="btn btn-default" id="logout">
      Logout
      </button>
    </a>	
  </div>
</div>

<div class="col-md-8 text-left item-pane">
  <h1>Delete Item</h1>
  <p>Are you sure you want to delete 
  <a href="{{url_for('showItem', item_id=item.id)}}">{{item.name}}</a>?</p>
  <form action="#" method="POST">
    <input type="submit" value="Confirm" /></input>
  <a href = "{{url_for('showItem',item_id=item.id)}}"> Cancel </a>
  </form>
</div>

{% endblock %}