{% extends "main.html" %}
{% block content %}

<div class="row top-menu ">
  <div class="col-md-6 app-link">
    <a href="{{url_for('showCategories')}}">
      Catalog App
	</a>
  </div>
  <div class="col-md-6 text-right">
    <a href="{{url_for('disconnect')}}">
      <button class="btn btn-default" id="logout">
      Logout
      </button>
    </a>	
  </div>
</div>

<div class="col-md-8 text-left newitem-pane">

  <h2>Add New Category</h2>
  You can add a new category to the catalog app here. Type in a name and a
  short description for the new category.

  <form action='#' method='post'>

  <h3>Name:</h3>
  <input type='text' size='30' name='name'>
  <h3>Description:</h3>
  <textarea cols="50" rows="5" name="description">
  description...
  </textarea>
  <br/>
  <input type='submit' value='Save Category'>

  <a href='/catalog/'>Cancel</a>

</form>

</div>
{% endblock %}
